<div class="tab-pane fade in show active" id="panel7" role="tabpanel">
  
    <!--Body-->
    <div class="modal-body mb-1">
      <div class="md-form form-sm mb-5">
        <i class="fas fa-envelope prefix"></i>
        <input type="email" id="modalLRInput10" class="form-control form-control-sm validate">
        <label data-error="wrong" data-success="right" for="modalLRInput10">E-mail címed</label>
      </div>

      <div class="md-form form-sm mb-4">
        <i class="fas fa-lock prefix"></i>
        <input type="password" id="modalLRInput11" class="form-control form-control-sm validate">
        <label data-error="wrong" data-success="right" for="modalLRInput11">Jelszó</label>
      </div>
      <div class="text-center mt-2">
        <button class="btn btn-info">Bejelentkezés<i class="fas fa-sign-in ml-1"></i></button>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer">
      <div class="options text-center text-md-right mt-1">
        <p>Nincs felhasználód? <a href="#panel8" data-toggle="tab" class="blue-text">Regisztráció</a></p>
        <p>Elfelejtett <a href="#panel9" data-toggle="tab" class="blue-text">jelszó?</a></p>
      </div>
      <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Vissza</button>
    </div>

  </div>