<%- include('../home/header') -%>
<!-- <div class="tab-pane fade" id="panel8" role="tabpanel"> -->
<div class="container form bg-light mt-3">
  <div class="row">
    <div class="login">
      <h1>Bejelentkezés</h1>
        <form action="/login" method="POST">
          <input type="email" name="email" placeholder="E-mail címed" required="required" />
            <input type="password" name="password" placeholder="Jelszó" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large mb-3">Bejelentkezés</button>
        </form>
        <div>
          <span>Nincs még felhasználód? </span><a href="/register"> Regisztráció</a>
        </div>
        <div>
          <span>Elfelejtetted jelszavad? </span><a href="/forgot"> Új jelszó</a>
        </div>
        <%- include('../msg/msg') -%>
    </div>
  </div>
</div>
<%- include('../home/footer') -%>