<%- include('header') -%>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h1>Valami valami</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti dignissimos dolores facilis ipsum libero veniam? Iusto, optio a necessitatibus mollitia nobis odio voluptatum excepturi vero dolorum expedita voluptas velit illum nemo nihil delectus facere totam itaque tempore. Natus doloribus quo hic, officia, iure voluptatum expedita suscipit animi a, eius voluptate tenetur nostrum. Molestias magnam quos, iusto pariatur, cumque accusantium sequi omnis ut, excepturi perferendis quaerat rerum eveniet facere temporibus tempore. Sed doloremque aspernatur tempora amet iure. Inventore minima explicabo, rerum eos eum debitis nemo nobis, obcaecati ipsum ex sunt delectus ut omnis ad cum incidunt! Natus voluptates placeat debitis qui.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti dignissimos dolores facilis ipsum libero veniam? Iusto, optio a necessitatibus mollitia nobis odio voluptatum excepturi vero dolorum expedita voluptas velit illum nemo nihil delectus facere totam itaque tempore. Natus doloribus quo hic, officia, iure voluptatum expedita suscipit animi a, eius voluptate tenetur nostrum. Molestias magnam quos, iusto pariatur, cumque accusantium sequi omnis ut, excepturi perferendis quaerat rerum eveniet facere temporibus tempore. Sed doloremque aspernatur tempora amet iure. Inventore minima explicabo, rerum eos eum debitis nemo nobis, obcaecati ipsum ex sunt delectus ut omnis ad cum incidunt! Natus voluptates placeat debitis qui.</p>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <img class="card-img-top" src="https://wallpaperaccess.com/full/271965.jpg" alt="Card image cap">
              </div>
        </div>
    </div>    
</div>    
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <img class="card-img-top" src="https://wallpaperaccess.com/full/30100.jpg" alt="Card image cap">
              </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <h1>Valami valami</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti dignissimos dolores facilis ipsum libero veniam? Iusto, optio a necessitatibus mollitia nobis odio voluptatum excepturi vero dolorum expedita voluptas velit illum nemo nihil delectus facere totam itaque tempore. Natus doloribus quo hic, officia, iure voluptatum expedita suscipit animi a, eius voluptate tenetur nostrum. Molestias magnam quos, iusto pariatur, cumque accusantium sequi omnis ut, excepturi perferendis quaerat rerum eveniet facere temporibus tempore. Sed doloremque aspernatur tempora amet iure. Inventore minima explicabo, rerum eos eum debitis nemo nobis, obcaecati ipsum ex sunt delectus ut omnis ad cum incidunt! Natus voluptates placeat debitis qui.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti dignissimos dolores facilis ipsum libero veniam? Iusto, optio a necessitatibus mollitia nobis odio voluptatum excepturi vero dolorum expedita voluptas velit illum nemo nihil delectus facere totam itaque tempore. Natus doloribus quo hic, officia, iure voluptatum expedita suscipit animi a, eius voluptate tenetur nostrum. Molestias magnam quos, iusto pariatur, cumque accusantium sequi omnis ut, excepturi perferendis quaerat rerum eveniet facere temporibus tempore. Sed doloremque aspernatur tempora amet iure. Inventore minima explicabo, rerum eos eum debitis nemo nobis, obcaecati ipsum ex sunt delectus ut omnis ad cum incidunt! Natus voluptates placeat debitis qui.</p>
        </div>
    </div>    
</div>  

<%- include('footer') -%>
