<%- include('../home/header') -%>
<div class="container-fluid ">
    <div class="row">
        <div class="col-sm-12 col-md-2 bg-primary text-center left-nav">
            <div class="p-2 m-4 text-center">
              <p><a href="/user/index"><i class="fas fa-home"></i> Főoldal</a></p>
              <p><a href="/user/profile"><i class="fas fa-cog"></i> Profil</a></p>
              <p><a href="/logout"><i class="fas fa-headset"></i> Segitség</a></p>
              <p><a href="/logout"><i class="fas fa-sign-out-alt"></i> Kijelentkezés</a></p>
            </div>
            <div class="sidebar">
                <ul class="collapsible collapsible-accordion ">
                    <li>
                        <header class="text-center">Tartalom</header>
                        <div class="collapsible-header waves-effect arrow-r">Egy <i class="fas fa-angle-down rotate-icon"></i></div>
                          <div class="collapsible-body">
                            <ul>
                              <li><a href="#" class="waves-effect asd">Belso egy</a>
                              </li>
                              <li><a href="#" class="waves-effect asd">Belső kettő</a>
                              </li>
                            </ul>
                          </div>
                      </li>
                    </ul>
                    <ul class="collapsible collapsible-accordion">
                      <li>
                        <div class="collapsible-header waves-effect arrow-r">Kettő <i class="fas fa-angle-down rotate-icon"></i></div>
                          <div class="collapsible-body">
                            <ul>
                              <li><a href="#" class="waves-effect">Belso egy</a>
                              </li>
                              <li><a href="#" class="waves-effect">Belso kettő</a>
                              </li>
                            </ul>
                          </div>
                      </li>
                    </ul>
                    <ul class="collapsible collapsible-accordion">
                      <li>
                        <div class="collapsible-header waves-effect arrow-r">Három <i class="fas fa-angle-down rotate-icon"></i></div>
                          <div class="collapsible-body">
                            <ul>
                              <li><a href="#" class="waves-effect">Belso egy</a>
                              </li>
                              <li><a href="#" class="waves-effect">Belso kettő</a>
                              </li>
                            </ul>
                          </div>
                      </li>
                    </ul>
              </div> 
        </div>
        <div class="col-sm-12 col-md-10 bg-dark content">
                
            <h1 class="text-center">Üdvözöllek a bejelentkezési oldalon!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa tenetur laboriosam deserunt ipsam mollitia alias nisi placeat provident, nulla numquam nostrum magni debitis. Facere non sunt earum reiciendis consequuntur laudantium aspernatur et inventore rem corrupti, dolores quod quo veritatis illo hic eaque, dolorem animi eos doloremque, excepturi at sapiente?</p>
        </div>
    </div>
</div>
<%- include('../home/footer') -%>