/* slide */

#landing-header {
  position: absolute;
  top:40vh;
  margin: auto;
  width: 100%;
  text-align: center;
}

img {
  background-size: cover;
  max-height: 800px;
}

.page_hr{
  width: 360px;
  border-top:1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

/* slide end */

h1 {
  font-weight: 500;
}

[class*="col-"],  /* Elements whose class attribute begins with "col-" */
[class^="col-"] { /* Elements whose class attribute contains the substring "col-" */
  padding-left: 0;
  padding-right: 0;
}